@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spacing-1: 8px;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-4: calc(var(--spacing-1) * 4);
    --spacing-5: calc(var(--spacing-1) * 5);
    --spacing-6: calc(var(--spacing-1) * 6);
    --spacing-7: calc(var(--spacing-1) * 7);
    --spacing-8: calc(var(--spacing-1) * 8);
    --spacing-1-2: calc(var(--spacing-1) / 2);
    --spacing-1-4: calc(var(--spacing-1) / 4);

    --brand-100: #E6F0F4;
    --brand-200: #B3D0DB;
    --brand-300: #80AFBF;
    --brand-400: #4D8FA3;
    --brand-500: #2D6479;
    --brand-600: #1F4654;
    --brand-700: #102327;
    --backdrop-color: 0, 0, 0;
    --background-color: 250, 250, 250;
    --transparent-white: rgba(var(--background-color), 0.5);
    --transparent-black: rgba(var(--backdrop-color), 0.5);
  }
}

:root {
  font-family: Inter, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(var(--background-color));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo {
  width: 100dvw;
  height: 100dvh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
